@charset "utf-8";
/*-------------------------------------------------------------------
	분류그룹 : 버튼
	속성순서 : 레이아웃, 크기간격, 박스모양, 글자모양, 문단모양, 기타모양
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
	@@ Buttons
-------------------------------------------------------------------*/
.btn {
	// 기본
	position: relative;
	flex: none;
	display: inline-flex;
	overflow: hidden;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: all 0.2s ease;

	> span {
		position: relative;
		z-index: 3;
	}
}

/*-------------------------------------------------------------------
	@@ Labels
-------------------------------------------------------------------*/
/* 스타일1 */


/* 스타일2 */

/*-------------------------------------------------------------------
	@@ Icons
-------------------------------------------------------------------*/
.icn {
	// 기본
	flex: none;
	display: inline-flex;
	position: relative;
	overflow: hidden;
	background: no-repeat center center / contain;
}

/*-------------------------------------------------------------------
	@@ Forms
-------------------------------------------------------------------*/


/*-------------------------------------------------------------------
	@@ Section
-------------------------------------------------------------------*/


/*-------------------------------------------------------------------
	@@ Tabs
-------------------------------------------------------------------*/
.tab {
	// 기본
	&-nav {
		flex: none;
		.tab-list {
			display: flex;
			width: 100%;
			.tab-link {
				display: block;
			}
			.tab-link:disabled {
				opacity: 0.75;
			}
		}
	}
	&-content {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		flex-basis: auto;
	}
	&-pane {
		display: none;
		flex-direction: column;
		flex-grow: 1;
		flex-basis: auto;
		width: 100%;
		&.active {
			display: flex;
		}
	}

	// module-a
	&-nav.demo-a {
		position: sticky;
		top: $header-height;
		padding-bottom: 20rem;
		padding-top: 16rem;
		background-color: #fff;
		z-index: 10;
		@include outer;

		.tab-list {
			@include inner;
		}

		.tab-item {
			flex:1;
		}
		.tab-link {
			width: 100%;
			height: 36rem;
			font-weight: 600;
			font-size: 16rem;
			line-height: 22rem;
			color: #B7B9BA;
			text-align: center;
			border-bottom: 2px solid #EFF0F0;
			&.active {
				color: #000000;
				border-color: #000;
			}
		}
	}

	// module-c
	&-nav.demo-b {
		width: 100%;
		position: sticky;
		top: $header-height;
		overflow: hidden;
		padding-bottom: 20rem;
		padding-top: 16rem;
		background-color: #fff;
		z-index: 10;
		@include outer;
		&::before { /* 7차 수정 : 탭 스티키 라인 수정 */
			content:'';
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			top: 41rem;
			width: 100%;
			max-width: 720rem;
			height: 1rem;
			background-color: #EFF0F0;
		}
		.swiper-wrapper {
			position: relative;
		}
		.swiper-slide {
			box-sizing: border-box;
			width: auto;
			flex: none;
		}

		.tab-list {
			gap: 16rem;
		}
		.tab-link {
			position: relative;
			display: block;
			height: 26rem;
			border-bottom: 0;
			font-weight: 600;
			font-size: 16rem;
			line-height: 22rem;
			color: #B7B9BA;
			text-align: center;
			border-bottom: 1px solid transparent;
			&.active {
				color: #000000;
				border-color: #000;
			}
		}
	}

	// module-c
	&-nav.demo-c {
		width: 100%;
		.tab-list {
			display: flex;
			padding: 4rem;
			border-radius: 20rem;
			background-color: #EFF0F0;
			.tab-item {
				flex: 1 1 auto;
				width: 100%;
				.tab-link {
					width: 100%;
					padding: 8rem;
					border-radius: 20rem;
					font-weight: 600;
					font-size: 14rem;
					line-height: 20rem;
					color: #63666A;
					text-align: center;
					&.active {
						background-color: #fff;
					}
				}
			}
		}
	}
}

/*-------------------------------------------------------------------
	@@ Collapse
-------------------------------------------------------------------*/
// 기본
.collapsing {
    height: 0;
    overflow: hidden;
    transition: height .35s ease;
}
.collapse:not(.show) {
	display: none;
}

/*-------------------------------------------------------------------
	@@ Popover
-------------------------------------------------------------------*/
.popover {
	// 기본
	z-index: 99;
	&-arrow {
		display: block;
		position: absolute;
		&::before {
			content:'';
			display: block;
			background: no-repeat center center / contain;
		}
	}
	&[data-popper-placement^=top] {
			.popover-arrow {
				top: 100%
			}
	}
	&[data-popper-placement^=bottom] {
			.popover-arrow {
				bottom: 100%;
			}
	}
	&[data-popper-placement^=right] {
			.popover-arrow {
				right: 100%;
			}
	}
	&[data-popper-placement^=left] {
			.popover-arrow {
				left: 100%;
			}
	}
}

/*-------------------------------------------------------------------
	@@ Toast
-------------------------------------------------------------------*/
.toast {
	// 기본
    max-width: 100%;
	padding: 5rem 10rem;
    pointer-events: auto;
    background-color: #fff;
	box-shadow: 2rem 2rem 10rem 0 rgba(0,0,0,0.2);
	border-radius: 8rem;

	&:not(.show) {
		display: none;
	}

	&-container {
		position: fixed;
		left: 50%;
		bottom: 20rem;
		transform: translateX(-50%);
		z-index: 2000;
		width: -webkit-max-content;
		width: -moz-max-content;
		width: max-content;
		max-width: 100%;
		pointer-events: none;
	}

	&.showing {
		opacity: 0;
	}
}

/*-------------------------------------------------------------------
	@@ Dropdown
-------------------------------------------------------------------*/
/* 기본 */
.dropdown-menu {
	display: none;
	&.show {
		display: block;
	}
}

/*-------------------------------------------------------------------
	@@ Modals
-------------------------------------------------------------------*/
.modal {
	// 기본
	position: fixed;
    top: 0;
    left: 0;
    z-index: 1100;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;

	.modal-dialog {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		transition: transform .3s ease-out;
		transform: translate(0, 50px);
		pointer-events: none;
	}
	// 인터렉션
	&.show .modal-dialog {
		transform: none;
	}
	&.modal-static .modal-dialog {
		transform: scale(1.02);
	}
	&-content {
		pointer-events: auto;
		transition: all 0.2s ease;
	}
	&-backdrop {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1000;
		width: 100vw;
		height: 100vh;
		background-color: #000;
		opacity: 0;
		&.show {
			opacity: 0.5;
		}
		& + .modal-backdrop {
			z-index: 2000;
		}
	}
}
