@charset 'utf-8';
@use './variables' as *;
/*-------------------------------------------------------------------
	분류그룹 : Common
	속성순서 : 레이아웃, 크기간격, 박스모양, 글자모양, 문단모양, 기타모양
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
	@@ Base
-------------------------------------------------------------------*/
// Font
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-jp.css");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.css");

// Reset
html,body,div,ul,ol,dl,li,dt,dd,p,h1,h2,h3,h4,h5,h6,table,thead,tbody,tr,th,td,caption,address,article,aside,canvas,details,figure,figcaption,main,footer,header,menu,nav,section,form,fieldset,legend,button,select,textarea,input,label,a,span,strong,em,address,dfn,small,i,b {
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
	font-style: normal;
	font-size: inherit;
	font-weight: inherit;
	font-family: inherit;
	color: inherit;
	box-sizing: inherit;
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	-o-box-sizing: inherit;
	-webkit-print-color-adjust: exact;
	print-color-adjust: exact !important;
}

:before,
:after {
	box-sizing: inherit;
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	-o-box-sizing: inherit;
}

main,article,aside,canvas,details,figure,figcaption,footer,header,menu,nav,section {
	display: block;
}

html {
	font-size: var(--html-font-size);
}
body {
	font-size: var(--body-font-size);
	line-height: var(--body-line-height);
	word-break: break-all;
	word-wrap: break-word;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
}

html[lang=ko] body,
html[lang=en] body {
	font-family: 'Pretendard', 'sans-serif';
	word-break: keep-all;
}
html[lang=ja] body {
	font-family: 'Pretendard JP', 'sans-serif';
}
html[lang=zh] body {
	font-family: 'Pretendard JP', 'sans-serif';
	word-break: normal;
}

[hidden],
hr {
	display: none;
}

img {
	max-width: 100%;
	vertical-align: middle;
}

button {
	background-color: transparent;
}

button, a, [role="link"], [role="button"] {
	cursor: pointer;
}

fieldset,
iframe {
	width: 100%;
}

img,
a,
frame,
iframe,
fieldset {
	border: 0;
}

a {
	text-decoration: none;
}

table {
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
}

caption {
	height: 1px;
	overflow: hidden;
}

legend {
	position: fixed;
	overflow: hidden;
	border: 0;
	margin: -1px;
	width: 1px;
	height: 1px;
	clip: rect(1px, 1px, 1px, 1px);
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
}

button {
	overflow: hidden;
	background-color: transparent;
	cursor: pointer;
}

button::-moz-focus-inner {
	border: 0px;
	padding: 0px;
}

input[type='checkbox'],
input[type='radio'],
select {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
}

textarea {
	resize: none;
}

select::-ms-expand {
	display: none;
}

input::-ms-clear,
input::-ms-reveal {
	display: none;
	width: 0;
	height: 0;
}

input::search-decoration,
input::search-cancel-button,
input::search-results-button,
input::search-results-decoration {
	display: none;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
	display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input::-webkit-calendar-picker-indicator {
	-webkit-appearance: none;
}

// Device
.os-android [tabindex='0']:focus,
.os-android a:focus,
.os-android button:focus,
.os-android input:focus,
.os-android textarea:focus,
.os-android select:focus {
	outline: 0;
}

.os-ios [tabindex='0'],
.os-ios a,
.os-ios button,
.os-ios input,
.os-ios textarea,
.os-ios select {
	-webkit-tap-highlight-color: transparent;
}

@media (max-width: 392px) {
	html {
		font-size: clamp(0.8205px, calc(100vw / 393), 1px);
	}
}


/*-------------------------------------------------------------------
	@@ Utiltites
-------------------------------------------------------------------*/
/* IR */
.blind {
	position: fixed;
	overflow: hidden;
	border: 0;
	margin: -1px;
	width: 1px;
	height: 1px;
	clip: rect(1px, 1px, 1px, 1px);
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
}

/* Bootstrap Transition */
.fade {
	transition: opacity .15s linear;

	&:not(.show) {
		opacity: 0;
	}
}

/* Overflow */
.scroll-a {
	overflow: auto;
}

.scroll-h {
	overflow: hidden;
}

.scroll-v {
	overflow: visible;
}

/* Margin */
.mar-0 {
	margin: 0 !important;
}

.mar-t0 {
	margin-top: 0 !important;
}

.mar-r0 {
	margin-right: 0 !important;
}

.mar-b0 {
	margin-bottom: 0 !important;
}
.mar-b10 {
	margin-bottom: 10rem !important;
}

.mar-l0 {
	margin-left: 0 !important;
}

/* Padding */
.pad-0 {
	padding: 0 !important
}

.pad-t0 {
	padding-top: 0 !important
}

.pad-r0 {
	padding-right: 0 !important
}

.pad-b0 {
	padding-bottom: 0 !important
}

.pad-l0 {
	padding-left: 0 !important
}

/* Flex */
.flex {
	display: flex;
}

.flex-n {
	flex: none;
}

.flex-g {
	flex-grow: 1;
}

.flex-s {
	flex-shrink: 1;
}

.flex-a {
	flex: 1 1 auto;
}

.flex-as {
	display: flex;
	align-items: flex-start;
}

.flex-ae {
	display: flex;
	align-items: flex-end;
}

.flex-ac {
	display: flex;
	align-items: center;
}

.flex-js {
	display: flex;
	justify-content: flex-start;
}

.flex-je {
	display: flex;
	justify-content: flex-end;
}

.flex-jc {
	display: flex;
	justify-content: center;
}

.flex-w {
	display: flex;
	flex-wrap: wrap;
}

.flex-nw {
	display: flex;
	flex-wrap: nowrap;
}

.flex-cols {
	display: flex;
	flex-direction: column;
}

// Gap
.gap-4 {
	gap: 4rem;
}

.gap-8 {
	gap: 8rem;
}

.gap-12 {
	gap: 12rem;
}

.gap-16 {
	gap: 16rem;
}

.gap-10 {
	gap: 10rem;
}

.gap-20 {
	gap: 20rem;
}

.gap-30 {
	gap: 30rem;
}

.gap-40 {
	gap: 40rem;
}

// Grid
.grid {
	display: grid !important;
}
.grid-cols-2 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
.grid-cols-3 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}
.grid-cols-4 {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}


/* Border */
.line-0 {
	border-width: 0 !important;
}

.line-t0 {
	border-top-width: 0 !important;
}

.line-r0 {
	border-right-width: 0 !important;
}

.line-b0 {
	border-bottom-width: 0 !important;
}

.line-l0 {
	border-left-width: 0 !important;
}

/* Align - Inline */
.align-t {
	vertical-align: top !important;
}

.align-m {
	vertical-align: middle !important;
}

.align-b {
	vertical-align: bottom !important;
}

.align-l {
	text-align: left !important;
}

.align-c {
	text-align: center !important;
}

.align-r {
	text-align: right !important;
}

.align-j {
	text-align: justify;
	-moz-text-align-last: justify;
	-webkit-text-align-last: justify;
	text-align-last: justify;
}

/* 말줄임 */
.ellipsis1 {
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.ellipsis2 {
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.ellipsis3 {
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

.full-height {
	@include full-height;
}

/*-------------------------------------------------------------------
	@@ Layout
-------------------------------------------------------------------*/
/* Default */

.page {
	position: relative;
	width: 100%;
	max-width: var(--max-width);
	min-height: var(--window-height);
	margin: auto;
}

.page,
.page-body,
.page-content,
.page-content-body {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	flex-basis: auto;
}

.page-header,
.page-footer,
.page-content-header,
.page-content-footer {
	width: 100%;
	flex: none;
}

/* Common */
.outer {
	@include outer;
}
.inner {
	@include inner;
}

/* Page Layout */
.page {
	// 공통
	& {
		background-color: #fff;
		box-shadow: 0 0 20rem 0 rgba(0,0,0,0.15);

		// page-wrap
		&-wrap {
			background-color: #e9fff2;
		}

		// page-header
		&-header {
			--header-height: 60rem;
			--header-btnSize: 32rem;
			--header-icnSize: 24rem;
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			height: var(--header-height);
			background-color: var(--header-bgcolor);
			@include outer;
			z-index: 100;

			.title-area {
				flex: 1 1 auto;
			}
			.title-area,
			.util-area {
				display: flex;
				align-items: center;
				gap: 4rem;
			}


			.site-logo {
				display: block;
				width: 123.55rem;
				aspect-ratio: 470/55;
				background: no-repeat center center / contain;
				background-image: url("data:image/svg+xml,%3Csvg width='124' height='16' viewBox='0 0 124 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='82.7679' cy='6.83024' r='4.41406' stroke='white' stroke-width='2.41071'/%3E%3Ccircle cx='49.9663' cy='6.83036' r='4.41406' stroke='white' stroke-width='2.41071'/%3E%3Ccircle cx='61.7969' cy='6.83036' r='4.41406' stroke='white' stroke-width='2.41071'/%3E%3Cpath d='M75.8028 3.19582C75.1332 2.76338 74.3355 2.51239 73.4792 2.51239C71.1107 2.51239 69.1907 4.43242 69.1907 6.8009C69.1907 9.16937 71.1107 11.0894 73.4792 11.0894C74.3355 11.0894 75.1332 10.8384 75.8028 10.406' stroke='white' stroke-width='2.41071' stroke-linecap='round'/%3E%3Cpath d='M41.2415 6.09094L41.2415 13.7807' stroke='white' stroke-width='2.41071' stroke-linecap='round'/%3E%3Cpath d='M45.53 2.57129L45.53 13.8101' stroke='white' stroke-width='2.41071' stroke-linecap='round'/%3E%3Cpath d='M57.3604 2.57129L57.3604 13.8101' stroke='white' stroke-width='2.41071' stroke-linecap='round'/%3E%3Cpath d='M73.9229 6.80084H73.3313' stroke='white' stroke-width='2.41071' stroke-linecap='round'/%3E%3Ccircle cx='41.2416' cy='2.54185' r='1.33092' fill='white'/%3E%3Cpath d='M91.5965 5.65778C92.4858 5.53223 93.4293 5.27588 94.4268 4.88874C95.4242 4.5016 96.3694 4.03076 97.2623 3.47621C98.1586 2.92167 98.9033 2.34096 99.4962 1.7341L100.48 2.86412C100.079 3.26521 99.6078 3.66106 99.0672 4.05169C98.5301 4.43882 97.9476 4.80504 97.3198 5.15032V10.5859H95.6353V5.97691C94.9831 6.25593 94.3343 6.49309 93.6891 6.68841C93.0474 6.88372 92.4335 7.02497 91.8476 7.11216L91.5965 5.65778ZM103.096 8.83859C104.306 8.72001 105.237 8.49505 105.89 8.16371C106.542 7.83238 107.006 7.33364 107.281 6.66748C107.557 6.00132 107.696 5.07533 107.7 3.88951L109.144 3.95229C109.137 5.36133 108.943 6.49658 108.563 7.35805C108.183 8.21952 107.572 8.87521 106.732 9.32513C105.895 9.77155 104.763 10.0558 103.337 10.1779L103.096 8.83859ZM103.504 4.05692C103.766 4.83817 104.01 5.78334 104.236 6.89244L102.876 7.18541C102.66 6.16002 102.412 5.22182 102.133 4.37081L103.504 4.05692ZM105.712 3.79534C106.019 4.77888 106.266 5.74498 106.455 6.69364L105.084 6.99707C104.871 5.9089 104.627 4.94978 104.351 4.1197L105.712 3.79534ZM114.349 10.429C114.172 10.429 113.922 10.4168 113.601 10.3924C113.284 10.3714 112.967 10.3453 112.649 10.3139L112.722 8.92229C112.96 8.95368 113.19 8.9781 113.413 8.99554C113.636 9.00949 113.814 9.01646 113.947 9.01646C114.152 9.01646 114.29 9.006 114.36 8.98507C114.433 8.96415 114.48 8.91532 114.501 8.83859C114.522 8.76186 114.533 8.61189 114.533 8.38867V4.5173H110.682V3.11523H114.533V1.70271H116.144V3.11523H117.41C117.368 2.9827 117.347 2.84319 117.347 2.69671C117.347 2.43513 117.412 2.19447 117.541 1.97475C117.673 1.75153 117.849 1.5754 118.069 1.44636C118.292 1.31731 118.536 1.25279 118.802 1.25279C119.063 1.25279 119.304 1.31731 119.524 1.44636C119.747 1.5754 119.923 1.75153 120.052 1.97475C120.181 2.19447 120.245 2.43513 120.245 2.69671C120.245 2.93736 120.191 3.16057 120.083 3.36635C119.979 3.57213 119.834 3.74128 119.649 3.87381V4.5173H116.144V8.59794C116.144 9.11761 116.097 9.50474 116.003 9.75935C115.908 10.0105 115.738 10.1848 115.49 10.2825C115.242 10.3802 114.862 10.429 114.349 10.429ZM110.337 8.78627C110.644 8.25265 110.926 7.6859 111.184 7.08601C111.442 6.48263 111.652 5.89844 111.812 5.33343L113.256 5.75195C113.089 6.33789 112.869 6.95173 112.597 7.59347C112.325 8.23521 112.021 8.84905 111.687 9.43499L110.337 8.78627ZM118.477 5.23926C118.791 5.80427 119.084 6.40939 119.356 7.05462C119.628 7.69985 119.858 8.33287 120.047 8.95368L118.613 9.44545C118.418 8.82115 118.184 8.18115 117.912 7.52546C117.644 6.86977 117.368 6.2786 117.086 5.75195L118.477 5.23926ZM118.289 2.69671C118.285 2.83622 118.334 2.95829 118.435 3.06292C118.54 3.16406 118.662 3.21289 118.802 3.2094C118.941 3.21289 119.06 3.16406 119.157 3.06292C119.258 2.96177 119.311 2.8397 119.314 2.69671C119.311 2.55371 119.26 2.43338 119.163 2.33573C119.065 2.23807 118.945 2.1875 118.802 2.18401C118.659 2.1875 118.536 2.23982 118.435 2.34096C118.334 2.43862 118.285 2.5572 118.289 2.69671Z' fill='white'/%3E%3Cpath d='M6.16071 1.07141C9.56318 1.07141 12.3214 3.82966 12.3214 7.23213C12.3214 10.6346 9.56318 13.3928 6.16071 13.3928C2.75825 13.3928 0 10.6346 0 7.23213C0 3.82966 2.75825 1.07141 6.16071 1.07141ZM7.7948 4.34795C6.25743 3.46035 4.29153 3.98717 3.40393 5.52454C2.51637 7.0619 3.04316 9.02755 4.58051 9.91514L7.71214 11.7232L7.06604 10.2225C7.8417 10.0021 8.53607 9.49229 8.97112 8.73882C9.85871 7.20147 9.33213 5.23557 7.7948 4.34795Z' fill='%23FF66CC'/%3E%3Cpath d='M17.9465 8.30355V2.94641C17.9465 1.91088 18.786 1.07141 19.8215 1.07141C20.8571 1.07141 21.6965 1.91088 21.6965 2.94641V8.30355C21.6965 8.59942 21.9364 8.83927 22.2322 8.83927C22.5281 8.83927 22.768 8.59942 22.768 8.30355V2.94641C22.768 1.91088 23.6074 1.07141 24.643 1.07141C25.6785 1.07141 26.518 1.91088 26.518 2.94641V8.30355C26.518 10.6705 24.5992 12.5893 22.2322 12.5893C19.8653 12.5893 17.9465 10.6705 17.9465 8.30355Z' fill='%23FF66CC'/%3E%3Cpath d='M22.7678 8.30355V2.94641C22.7678 1.91088 23.6073 1.07141 24.6428 1.07141C25.6784 1.07141 26.5178 1.91088 26.5178 2.94641V8.30355C26.5178 8.59942 26.7577 8.83927 27.0535 8.83927C27.3494 8.83927 27.5893 8.59942 27.5893 8.30355V2.94641C27.5893 1.91088 28.4287 1.07141 29.4643 1.07141C30.4998 1.07141 31.3393 1.91088 31.3393 2.94641V8.30355C31.3393 10.6705 29.4205 12.5893 27.0535 12.5893C24.6866 12.5893 22.7678 10.6705 22.7678 8.30355Z' fill='%23FF66CC'/%3E%3Cpath d='M13.125 8.83927L13.125 2.94641C13.125 1.91088 13.9645 1.07141 15 1.07141C16.0355 1.07141 16.875 1.91088 16.875 2.94641L16.875 8.83927C16.875 9.8748 16.0355 10.7143 15 10.7143C13.9645 10.7143 13.125 9.8748 13.125 8.83927Z' fill='%23FF66CC'/%3E%3Cpath d='M32.1428 13.125V2.94641C32.1428 1.91088 32.9823 1.07141 34.0178 1.07141C35.0534 1.07141 35.8928 1.91088 35.8928 2.94641V13.125C35.8928 14.1605 35.0534 15 34.0178 15C32.9823 15 32.1428 14.1605 32.1428 13.125Z' fill='%23FF66CC'/%3E%3Cpath d='M31.0714 4.55328L32.4107 4.55328C33.2983 4.55328 34.0178 5.27283 34.0178 6.16043C34.0178 7.04803 33.2983 7.76757 32.4107 7.76757L31.0714 7.76757C30.1838 7.76757 29.4643 7.04803 29.4643 6.16043C29.4643 5.27283 30.1838 4.55328 31.0714 4.55328Z' fill='%23FF66CC'/%3E%3Cpath d='M16.875 13.125C16.875 14.1605 16.0355 15 15 15C13.9645 15 13.125 14.1605 13.125 13.125C13.125 12.0895 13.9645 11.25 15 11.25C16.0355 11.25 16.875 12.0895 16.875 13.125Z' fill='%23FF66CC'/%3E%3C/svg%3E%0A");
			}

			.page-h1 {
				@include font-set(700, 18, var(--header-color));
			}

			.btn {
				width: var(--header-btnSize);
				height: var(--header-btnSize);

				.icn {
					width: var(--header-icnSize);
					height: var(--header-icnSize);
					@include mask-default;
					background-color: var(--header-color);
				}

				.icn-back {
					mask-image: url("data:image/svg+xml,%3Csvg width='9' height='14' viewBox='0 0 9 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 1L2 7L8 13' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
				}
				.icn-share {
					mask-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Crect width='24' height='24' fill='url(%23pattern0_510_1658)'/%3E%3Cdefs%3E%3Cpattern id='pattern0_510_1658' patternContentUnits='objectBoundingBox' width='1' height='1'%3E%3Cuse xlink:href='%23image0_510_1658' transform='scale(0.0416667)'/%3E%3C/pattern%3E%3Cimage id='image0_510_1658' width='24' height='24' preserveAspectRatio='none' xlink:href='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABdElEQVR4AdSUQUoDQRBFEzcG5lBZuEkO4FYQAiooeALBE7jQhSK6ces6kE3wUCHEVfv+ZKqnO5mQnjaBZKjfXTWT+n+m8umTzp6vwxZwzj25+nptGkb2F8D7COE9sLji3rMVtmcLQPAAOt3qUg5uQRT/EYiINhWtBRjDEDgjVC5U9Xe1+y1ZAJICLOgcA8WIJfxjv5jWOfeiSBKA+IeuGTgFU4gUHyw3wOKCZ2sRCUAU2u6TegQ0jj6dv6CA7Yw9ObwARKu2u4TlHSgGEPfAXEUbeAGammxnNpzwPCtCgSyCbU2hwJt+zKjKUC6UhXND5TnwAsz3GoIXYCELyoqqxwgtQKGiDbyAmhC5AxayoKzY5dkUyKIzRGRZyrSIBDa1oChr6u1l1T4iCllYVlYu6IvXKJIE1IXIHPTIB0AhC8vKyoXdnKaITIDGJlKzsdVHcJqWr71cmmydf5ouOeuVMa3aOv80rWnjDJHQ1ttP07h9N9UfAAAA//+MHgMZAAAABklEQVQDAPompDH4zN4oAAAAAElFTkSuQmCC'/%3E%3C/defs%3E%3C/svg%3E%0A");
				}
				.icn-favorite {
					mask-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Crect width='24' height='24' fill='url(%23pattern0_510_1657)'/%3E%3Cdefs%3E%3Cpattern id='pattern0_510_1657' patternContentUnits='objectBoundingBox' width='1' height='1'%3E%3Cuse xlink:href='%23image0_510_1657' transform='scale(0.0416667)'/%3E%3C/pattern%3E%3Cimage id='image0_510_1657' width='24' height='24' preserveAspectRatio='none' xlink:href='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAB4ElEQVR4AcSUu0oDQRSGN0LwggZBsBEsRLG0jBhtBMGn8AEEOytjZ8DCVvABfAgVtTJFsLSMWgVsBBsJkSCs3z/MrLPJrrsRg+F8c+7nZBZ2R4Ih//5vQRiGRShnXVA1UEyr67sBxfsQ0tCFhmxLFd8IfhWMEGhA1zhheIgdk9gCiu7InoDkk+MenNTIN+GRQA2cqEa18o/I38pwRAtIrBJcB8lcoVAoQhkKBEogWeJYBElJOVCNHtGygrDJrDW0kWgB3gVItmh6keHAf8eeBSczNub8AL+Jsw2SSx3CXzCtAIU30r0QfwUnb715+SSvpGEKjPgLTOCvj74FPL+x3y6hd7y3119wbpOJj8jmstS1LXCzgmgBz2/HJiv8kwVr51a2p6IGb9b3AiVgDyTPOgbE9bgZpj26gTw2n6KfIOAf6W2WmYlX+2BnRD2xBYpSoJepLdtrlJuIV9Omd6W3qG+BCiicRJsbeAMIxcXLhbYnXoCXuIC43swo5w1SyuDHGB7VmqR3pCZUQ6O+Qx3ZGgijMAnmdsQ7tgYzWX5coBYGTKBbIPng0HcJFbRsTnYqmQvUyaB5dB2c1G3M+ak61wJ1M3ADfQxn1sbMltwLNIrBB7ArOy8DLcg71K8b+oIvAAAA//9CjdIPAAAABklEQVQDABVerjHW3V4kAAAAAElFTkSuQmCC'/%3E%3C/defs%3E%3C/svg%3E%0A");
				}
				.icn-user {
					mask-image: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 2.5C6.48 2.5 2 6.98 2 12.5C2 18.02 6.48 22.5 12 22.5C17.52 22.5 22 18.02 22 12.5C22 6.98 17.52 2.5 12 2.5ZM12 5.5C13.66 5.5 15 6.84 15 8.5C15 10.16 13.66 11.5 12 11.5C10.34 11.5 9 10.16 9 8.5C9 6.84 10.34 5.5 12 5.5ZM12 19.7C9.5 19.7 7.29 18.42 6 16.48C6.03 14.49 10 13.4 12 13.4C13.99 13.4 17.97 14.49 18 16.48C16.71 18.42 14.5 19.7 12 19.7Z' fill='white'/%3E%3C/svg%3E%0A");
				}
				.icn-srch {
					mask-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_359_1949)'%3E%3Cpath d='M15.5 14H14.71L14.43 13.73C15.41 12.59 16 11.11 16 9.5C16 5.91 13.09 3 9.5 3C5.91 3 3 5.91 3 9.5C3 13.09 5.91 16 9.5 16C11.11 16 12.59 15.41 13.73 14.43L14 14.71V15.5L19 20.49L20.49 19L15.5 14ZM9.5 14C7.01 14 5 11.99 5 9.5C5 7.01 7.01 5 9.5 5C11.99 5 14 7.01 14 9.5C14 11.99 11.99 14 9.5 14Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_359_1949'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
				}
			}

			.srch-area {
				display: flex;
				justify-content: space-between;
				align-items: center;
				width: 100%;
				height: 62rem;
			}

			.srch-frm {
				position: relative;
				width: 100%;
				height: 50rem;
				.input {
					width: 100%;
					height: 100%;
					padding: 0 50rem 0 16rem;
					border: 2px solid #fff;
					background-color: #383838;
					border-radius: 50rem;
					box-shadow: none;
					@include font-set(400,14,#fff);
					&::placeholder {
						color: #888;
					}
				}
				.btn-srch {
					position: absolute;
					top: calc(50% - (var(--header-btnSize)/2));
					right: calc(13rem - 4rem);
				}
			}

		}

		// page-footer
		&-footer {
			background-color: #444;
			color: #fff;
			z-index: 100;
			.inner {
				padding: 16px 0;
			}
		}

		// page-body
		&-body {
			position: sticky;
			left: 0;
			bottom: 0;
			margin-top: auto;
			padding-bottom: $safe-area-bottom;

			.page-content {
				--content-top: 0rem;
				--content-bottom: 40rem;
				padding-top: var(--content-top);
				padding-bottom: var(--content-bottom);
			}

			&.has-page-action {
				.page-content {
					padding-bottom: 0;
				}
			}

			.page-action-sticky {
				position: sticky;
				left: 0;
				bottom: 0;
				margin-top: auto;
				width: 100%;

				&::before {
					content:'';
					display: block;
					height: calc(var(--content-bottom) - var(--padding));
				}

				.page-action {
					--padding: 20rem;
					@include outer;
					background-color: #fff;
					margin-top: 0;
					padding-top: var(--padding);
					padding-bottom: calc(var(--padding) + #{$safe-area-bottom});
				}
			}

			.page-action {
				display: flex;
				flex-direction: column;
				margin-top: var(--content-bottom);
				padding-bottom: $safe-area-bottom;

				.btn {
					&.module-a {
						flex: 1 1 auto;
						width: 100%;
					}
				}
			}
		}

		// page-navigation
		&-navigation {
			position: sticky;
			left: 0;
			bottom: 0;
			width: 100%;
			z-index: 100;
			height: calc(#{$safe-area-bottom} + 70rem);
			padding: 10rem 25rem;
			background-color: #F5F6F7;
			padding-bottom: calc(#{$safe-area-bottom} + 10rem);
			display: flex;
			align-items: center;
			justify-content: center;

			.gnb {
				display: flex;
				justify-content: space-between;
				align-items: center;
				width: 100%;

				.gnb-link {
					--gnb-color: #B3B9C4;
					--gnb-size: 30rem;
					display: flex;
					flex-direction: column;
					justify-content: flex-start;
					align-items: center;
					gap: 3rem;
					min-width: 47rem;

					.icn {
						@include mask-default;
						width: var(--gnb-size);
						height: var(--gnb-size);
						background-color: var(--gnb-color);
						&.icn-home {
							mask-image: url("data:image/svg+xml,%3Csvg width='31' height='30' viewBox='0 0 31 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 26.2499C7.3125 26.2499 6.72417 26.0053 6.235 25.5161C5.745 25.0261 5.5 24.4374 5.5 23.7499V12.4999C5.5 12.104 5.58875 11.729 5.76625 11.3749C5.94292 11.0207 6.1875 10.729 6.5 10.4999L14 4.87488C14.2292 4.70821 14.4688 4.58321 14.7188 4.49988C14.9688 4.41654 15.2292 4.37488 15.5 4.37488C15.7708 4.37488 16.0313 4.41654 16.2813 4.49988C16.5313 4.58321 16.7708 4.70821 17 4.87488L24.5 10.4999C24.8125 10.729 25.0575 11.0207 25.235 11.3749C25.4117 11.729 25.5 12.104 25.5 12.4999V23.7499C25.5 24.4374 25.2554 25.0261 24.7663 25.5161C24.2763 26.0053 23.6875 26.2499 23 26.2499H18V17.4999H13V26.2499H8Z' fill='%231D262D'/%3E%3C/svg%3E%0A");
						}
						&.icn-hospital {
							mask-image: url("data:image/svg+xml,%3Csvg width='31' height='30' viewBox='0 0 31 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M23.5469 5.00012H8.70313V10.9376H4.25V25.7814H28V10.9376H23.5469V5.00012ZM14.6406 12.422V15.3907H11.6719V18.3595H14.6406V21.3282H17.6094V18.3595H20.5781V15.3907H17.6094V12.422H14.6406Z' fill='%23B3B9C4'/%3E%3C/svg%3E%0A");
						}
						&.icn-event {
							mask-image: url("data:image/svg+xml,%3Csvg width='31' height='30' viewBox='0 0 31 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_346_1155)'%3E%3Cpath d='M12.8282 12.4504H11.9636V13.4739H12.8282V12.4504Z' fill='%23B3B9C4'/%3E%3Cpath d='M17.2454 13.6901C17.2454 12.9404 16.6231 12.3254 15.8803 12.3254C15.1307 12.3254 14.5156 12.933 14.5156 13.6901C14.5156 14.4552 15.1307 15.0548 15.8803 15.0548C16.623 15.0548 17.2454 14.4477 17.2454 13.6901ZM15.288 13.6901C15.288 13.3603 15.558 13.0977 15.8803 13.0977C16.2028 13.0977 16.4725 13.3601 16.4725 13.6901C16.4725 14.0201 16.2028 14.2825 15.8803 14.2825C15.558 14.2825 15.288 14.0202 15.288 13.6901Z' fill='%23B3B9C4'/%3E%3Cpath d='M12.8282 16.5442H11.9636V17.5674H12.8282V16.5442Z' fill='%23B3B9C4'/%3E%3Cpath d='M18.6836 12.1341L15.7864 17.5812L16.5497 17.9872L19.447 12.5401L18.6836 12.1341Z' fill='%23B3B9C4'/%3E%3Cpath d='M12.8282 14.4971H11.9636V15.5202H12.8282V14.4971Z' fill='%23B3B9C4'/%3E%3Cpath d='M19.4023 15.0103C18.6526 15.0074 18.0351 15.6128 18.0325 16.3702C18.0295 17.1351 18.6424 17.7374 19.3926 17.7405C20.1353 17.7431 20.7595 17.1377 20.7625 16.3803C20.7651 15.6302 20.145 15.0129 19.4023 15.0103ZM19.3973 16.9678C19.0752 16.9678 18.8051 16.7053 18.8051 16.3752C18.8051 16.0452 19.0752 15.7829 19.3973 15.7829C19.7198 15.7829 19.99 16.0451 19.99 16.3752C19.99 16.7053 19.7198 16.9678 19.3973 16.9678Z' fill='%23B3B9C4'/%3E%3Cpath d='M15.4998 2.49988C8.59642 2.49988 3 8.09629 3 14.9999C3 21.9033 8.59642 27.4999 15.4998 27.4999C22.4034 27.4999 28 21.903 28 14.9999C28 8.09629 22.4034 2.49988 15.4998 2.49988ZM22.8741 17.9169C22.8741 18.5873 22.2523 19.1309 21.4857 19.1309H12.8282V18.5905H11.9636V19.1309H9.51458C8.74775 19.1309 8.12592 18.587 8.12592 17.9169V12.1006C8.12592 11.4304 8.74775 10.8868 9.51458 10.8868H11.9636V11.4271H12.8282V10.8868H21.4857C22.2523 10.8868 22.8741 11.4304 22.8741 12.1006V17.9169Z' fill='%23B3B9C4'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_346_1155'%3E%3Crect width='25' height='25' fill='white' transform='translate(3 2.49988)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
						}
						&.icn-doctor {
							mask-image: url("data:image/svg+xml,%3Csvg width='31' height='30' viewBox='0 0 31 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24.875 12.0001L23.1875 5.15637C23.0938 4.87512 22.9062 4.68762 22.7188 4.50012C18.2188 2.34387 12.9687 2.34387 8.375 4.50012C8.09375 4.59387 7.90625 4.78137 7.8125 5.06262L6.125 12.0001C6.125 12.1876 6.125 12.4689 6.3125 12.6564C6.40625 12.8439 6.6875 13.0314 6.875 13.0314C9.78125 13.6876 12.5938 13.9689 15.5 13.9689C18.4062 13.9689 21.3125 13.6876 24.125 13.0314C24.4062 12.9376 24.5938 12.8439 24.6875 12.6564C24.875 12.4689 24.875 12.1876 24.875 12.0001ZM17.375 9.37512H16.4375V10.3126C16.4375 10.8751 16.0625 11.2501 15.5 11.2501C14.9375 11.2501 14.5625 10.8751 14.5625 10.3126V9.37512H13.625C13.0625 9.37512 12.6875 9.00012 12.6875 8.43762C12.6875 7.87512 13.0625 7.50012 13.625 7.50012H14.5625V6.56262C14.5625 6.00012 14.9375 5.62512 15.5 5.62512C16.0625 5.62512 16.4375 6.00012 16.4375 6.56262V7.50012H17.375C17.9375 7.50012 18.3125 7.87512 18.3125 8.43762C18.3125 9.00012 17.9375 9.37512 17.375 9.37512Z' fill='%23B3B9C4'/%3E%3Cpath d='M25.1562 14.7189C24.9687 14.8126 24.7812 14.9064 24.5937 14.9064C21.5937 15.5626 18.4999 15.9376 15.4999 15.9376C12.4999 15.9376 9.40616 15.5626 6.40616 14.9064C6.21866 14.9064 6.03116 14.8126 5.84366 14.7189C5.09366 15.5626 4.90616 17.0626 5.46866 18.6564C5.84366 19.8751 6.59366 20.9064 7.53116 21.3751C7.71866 21.4689 7.99991 21.5626 8.18741 21.5626C9.31241 24.9376 12.1249 27.1876 15.4999 27.1876C18.8749 27.1876 21.6874 24.9376 22.8124 21.5626C23.0937 21.5626 23.2812 21.4689 23.5624 21.3751C24.4062 21.0001 25.2499 19.9689 25.6249 18.6564C25.9999 17.0626 25.8124 15.5626 25.1562 14.7189Z' fill='%23B3B9C4'/%3E%3C/svg%3E%0A");
						}
						&.icn-review {
							mask-image: url("data:image/svg+xml,%3Csvg width='31' height='30' viewBox='0 0 31 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_346_1175)'%3E%3Cpath d='M24.5 3.75H6.5C5.2625 3.75 4.25 4.7625 4.25 6V26.25L8.75 21.75H24.5C25.7375 21.75 26.75 20.7375 26.75 19.5V6C26.75 4.7625 25.7375 3.75 24.5 3.75ZM17.2662 14.5162L15.5 18.375L13.7338 14.5162L9.875 12.75L13.7338 10.9838L15.5 7.125L17.2662 10.9838L21.125 12.75L17.2662 14.5162Z' fill='%23B3B9C4'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_346_1175'%3E%3Crect width='30' height='30' fill='white' transform='translate(0.5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
						}
					}
					.text {
						@include font-set(600, 10.5, var(--gnb-color));
						line-height: 1;
					}
					&.is-selected {
						--gnb-color: #1D262D;
					}
				}
			}
		}
	}

	// template-a (main)
	&.template-a {
		.page-header {
			--header-bgcolor: #000;
			--header-color: #fff;
			display: flex;
			flex-direction: column;
			position: sticky;
			left: 0;
			top: 0;
			height: auto;

			.top-area {
				display: flex;
				justify-content: space-between;
				align-items: center;
				width: 100%;
				height: var(--header-height);
			}
		}

		.page-body {
			--content-top: 0rem;
			--content-bottom: 40rem;
		}
	}

	// template-b (sub)
	&.template-b {
		.page-header {
			--header-bgcolor: #000;
			--header-color: #fff;
		}
		.page-content {
			--content-top: 0rem;
			--content-bottom: 40rem;
		}
	}

	// template-c (sub - onboarding)
	&.template-c {
		.page-content {
			--content-top: 100rem;
			--content-bottom: 40rem;
		}
	}

	// template-d (sub - member)
	&.template-d {
		.page-header {
			--header-bgcolor: #fff;
			--header-color: #000;
		}
		.page-content {
			--content-top: 42rem;
			--content-bottom: 40rem;
		}
	}
}
