<!doctype html>
<html lang="ko">

<head>
	<meta charset="utf-8" />
	<title>Prototype | Project Guide</title>
	<meta http-equiv="X-UA-Compatible" content="ie=edge chrome=1" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta name="keywords" content="프로젝트가이드, Project Guide" />
	<meta name="description" content="프로젝트가이드, Project Guide" />
	<link rel="shortcut icon" href="../../favicon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="../../assets/css/ui.style.css" />
	<script src="../../assets/js/jquery.min.js"></script>
	<script src="../../assets/js/ui.libs.min.js"></script>
	<script src="../../assets/js/ui.common.js"></script>
	<script src="../../assets/js/ui.publish.js"></script><!-- 퍼블리싱 작업용 환경설정(개발적용안함) -->
	<link rel="stylesheet" type="text/css" href="css/guide.css" /><!-- 가이드전용 -->
</head>

<body>
	<div class="wrapper">
		<!-- Header -->
		<header class="header"></header>
		<!-- // Header -->
		<!-- Container -->
		<main class="container">
			<div id="content" class="content">
				<div class="content-body">
					<div class="inner">
						<h1 class="g-h1">페이지제목</h1>
					</div>
					<!-- Section -->
					<section class="g-section inner">
						<div class="g-section-head">
							<h2 class="g-h2">분류제목</h2>
						</div>
						<div class="g-section-body">
							<h3 class="g-h3">구분제목</h3>
							<ul class="g-desc">
								<li>목록</li>
							</ul>
							<h4 class="g-h4">상세제목</h4>
						</div>
					</section>
					<!-- // Section -->
				</div>
			</div>
		</main>
		<!-- // Container -->

		<!-- Footer -->
		<footer class="footer"></footer>
		<!-- // Footer -->
	</div>
</body>

</html>